/* Custom Background colors */

.bg-grena {
    background-color: rgb(145, 0, 40);
}

.bg-green {
    background-color: rgb(0, 105, 64);
}

/* Custom Text Colors */

.text-grena {
    color: rgb(145, 0, 40);
}

.text-green {
    color: rgb(0, 105, 64);
}